<p>forms works!</p>
<form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
    <label>name</label>
    <input type="text" ngModel name="user" placeholder="enter user name"><br><br>
    <label>Email</label>
    <input type="text" ngModel name="email" placeholder="enter user email"><br><br>
    <label>Password</label>
    <input type="text" ngModel name="password" placeholder="enter your password">
    <br>
    <br>
    <button>Register</button>
</form>
<ul>
    <li>{{userData.user}}</li>
    <li>{{userData.email}}</li>
    <li>{{userData.password}}</li>
</ul>