<app-header></app-header>
<h1>{{data}}</h1>
<h1>{{dataitem}}</h1>
<!-- <app-login></app-login> -->
<!-- <app-styling></app-styling>
<app-styling1></app-styling1> -->
<!-- <app-popertybinding></app-popertybinding> -->
<!-- <app-if-else></app-if-else> -->
<!-- <app-switc-case></app-switc-case> -->
<!-- <app-for-loop></app-for-loop> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-forms></app-forms> -->
<!-- <app-toggle></app-toggle>
<app-todo></app-todo> -->
<!-- <app-parent-to-child [item]="data"></app-parent-to-child>
<button (click)="updateChild()">UpdateChild</button> -->
<!-- <ul *ngFor="let user of userDetails">
    <app-child-compo [item]='user'></app-child-compo>

</ul> -->
<!-- <app-child-compo></app-child-compo> -->


<!-- <app-child-to-parrent (updateDataEvent)="updateData($event)"></app-child-to-parrent> -->
<app-two-way-binding></app-two-way-binding>